body{
    background-color: aliceblue;
}

h1, p{
    font-family: 'Quicksand', sans-serif;
}
.canvas {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted brown;
    margin: 50px;
    height: 400px;
 
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.btn-key {
    margin: 5px;
    padding: 10px;
    background-color: darksalmon;
    border-radius: 3px;
    border: 2px dotted white;
    font-family: 'Quicksand', sans-serif;
}

.btn-key:hover {
    background-color: aqua;
}